*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, Arial, Helvetica, sans-serif;
}
h1{
    color: #F9FAF8;
    font-weight: 900;
}
h2 {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

h3{
    color: #F9FAF8;
    font-size: 24px;
}


p, 
ul, 
.hero-image, 
figcaption, 
button,
.copyright
  {
    font-size: 18px;
    color: #E5E7EB;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

header{
    background-color: #1F2937;
    color: #F9FAF8;
}

.section-one{}

.section-two{
    background-color: #F9FAF8;
    
}
figcaption{ 
  color: #1F2937;  
}

.section-three {

}

.text-author{
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    color: #1F2937;
}

.section-four{
    background-color: #F9FAF8;
}


button{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.blue-box,
button{
    background-color: #3882F6;
}


footer{
    background-color: #1F2937;
    color: #F9FAF8;
}